<!--<h3>{{vm.title}}</h3> -->

<!--
<a href="/login">Login</a>
<br>
<a href="/register">Register</a>
<br>
<a href="/profile">Profile</a>
<br>
<a href="/polls">Polls</a> -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      <a class="navbar-brand" href="#">VoteMyPoll</a>
      </div> 
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <h1>Wellcome to VoteMyPoll!</h1>
  <h3>An Application where you can view, create and vote any poll you want</h3>
  <hr>
