<h3>{{vm.title}}</h3>
<h4>{{vm.thisPollIs.name}}</h4>
<ul>
    <li ng-repeat="option in vm.thisPoll.options">{{option.name}} --- {{option.votes}}
    </li>
</ul>
<div class="row">
    <div class="col-md-4">
       
        <select class="form-control input-lg" ng-model="selectedOption">
            <option ng-repeat="option in vm.thisPollIs.options">{{option.name}}</option>
        </select>
        {{selectedOption}}
        <br>
        <button ng-click="vm.voteForThis()" ng-disabled="vm.voted || !(selectedOption)" class="btn btn-primary">Vote</button>
    
    <!--
    <select class="form-control" ng-options="option in vm.thisPoll.options" ng-model="selectedOption">
            <option value="">--Select Option--</option>
    </select>
-->
    </div>
    <div class="col-md-8">
        <ul>
            <li ng-repeat="option in vm.thisPollIs.options">{{option.votes}}</li>
        </ul> 
    </div>
</div>



