<!--<h3>{{vm.title}}</h3>-->
<nav class="navbar navbar-default">
        <div class="container-fluid">
             <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="#">VoteMyPoll</a>
            </div> 
              <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>
                </ul>
        
                <ul class="nav navbar-nav navbar-right">
                    <li><a class= "btn btn-primary" href="/polls" >My Polls</a></li>
                    <li><a class= "btn btn-danger" ng-click="vm.logOut();">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
</nav>



<h3>{{vm.thisPollIs.name}}</h3>
<!--
<ul>
    <li ng-repeat="option in vm.thisPollIs.options">{{option.name}} --- {{option.votes}}
    </li>
</ul> -->
<h4><a ng-click="vm.myPolls()">Yor Polls</a></h4>
<div class="row">
    <div class="col-md-4">
       
        <select class="form-control input-lg" ng-model="selectedOption">
            <option ng-repeat="option in vm.thisPollIs.options">{{option.name}}</option>
        </select>
        <br>
        <input type="text" ng-model="newOption.name" placeholder="Option name" class="form-control" style="padding: 10px;"> 
        <button ng-click="vm.voteForThis()" ng-disabled="vm.voted || !(selectedOption)" class="btn btn-primary">Vote</button>
        <button ng-click="vm.addOptionToThisPoll(newOption.name)" ng-disabled="!newOption.name" class="btn btn-primary">Add Option</button>
        <!--<button ng-click="vm.addOtherOption" class="btn btn-primary">More Options</button> -->
        
    </div>
    <div class="col-md-8">
        <!--
        <ul>
            <li ng-repeat="option in vm.thisPollIs.options">{{option.votes}}</li>
        </ul>
    -->
        <!--<button ng-click="vm.showTheChart()" class="btn btn-primary">Show the Chart</button>-->
        <div id="piechart" style="width: 900px; height: 500px;"></div> 
        <!--<div chart1></div> -->
    </div>
</div>



