<h3>{{vm.title}}</h3>
<hr>
<input type="text" ng-model="vm.poll.name" placeholder="Name of poll...">
<hr>
<input type="text" ng-model="vm.poll.options[$index].name" ng-repeat="option in vm.poll.options" placeholder="Option name" class="form-control" style="padding: 10px;">
<hr>
<button ng-click="vm.addOption()" class="btn btn-primary">Add Option</button>
<br><br>
<button ng-click="vm.addPoll()" ng-disabled="!vm.poll.name" class="btn btn-primary">Add Poll</button>
<hr>
<ul>
    <li ng-repeat="poll in vm.polls">{{poll.name}} --- {{poll._id}}
        <a ng-href="./polls/{{poll._id}}">link</a>
    </li>
</ul>