<h3>{{vm.thisProject.nombre}}</h3>
<h3>RFI: {{vm.thisProject.rfi}}</h3>
<h3>Estado: {{vm.thisProject.estado}}</h3>
<p>{{vm.thisProject.descripcion}}</p>
<p>{{vm.thisProject.notas}}</p>


<div>
    <label>Nombre</label>
    <input type="text" ng-model="vm.project.nombre" placeholder="Nombre del proyecto..."  class="form-control" style="padding: 10px;">
    <hr>
    <!--<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
    <label>Descrición</label>
    <input type="text" ng-model="vm.project.descripcion" placeholder="Descripcion del proyecto..."  class="form-control" style="padding: 10px">
    <hr>
    <label>RFI</label>
    <input type="number" ng-model="vm.project.rfi" placeholder="RFI"  class="form-control" style="padding: 10px;">
    <hr>
    <div class="form-group">
        <label for="SelectEstado">Estado del Proyecto</label>
        <select ng-model="vm.project.estado" class="form-control" id="SelectEstado">
          <option>Aprobado</option>
          <option>Pendiente</option>
          <option>Cancelado</option>
        </select>
      </div>
    <br>
    <label>Notas</label>
    <input type="text" ng-model="vm.project.notas" placeholder="Notas"  class="form-control" style="padding: 10px;">
      
    <br>
    <button ng-click="vm.addProject()"  class="btn btn-primary">Guardar Cambios</button>
</div>



<div>
    <ul>
        <li ng-repeat="actividad in vm.thisProject.actividades"> 
             <span>{{actividad.fecha}}</span> -- <span>{{actividad.estimadas}}</span> -- <span>{{actividad.finalizadas}}</span>     
        </li>
    </ul>
</div>

<div>
    <div id="piechart" style="width: 900px; height: 500px;"></div> 
</div>

<table ng-table="vm.tableParams" class="table" show-filter="true">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Estimadas</th>
                <th>Finalizadas</th>
            </tr>
        </thead>
        <tr ng-repeat="actividad in vm.thisProject.actividades">
            <td title="'Fecha'" filter="{ fecha: 'text'}" sortable="'fecha'">
                {{actividad.fecha}}</td>
            <td title="'Estimadas'" filter="{ estimadas: 'number'}" sortable="'estimadas'">
                {{actividad.estimadas}}</td>
                <td title="'Estimadas'" filter="{ estimadas: 'number'}" sortable="'estimadas'">
                        {{actividad.finalizadas}}</td>
        </tr>
</table>