<h3>{{vm.thisProject.nombre}}</h3>
<h3>RFI: {{vm.thisProject.rfi}}</h3>
<h3>Estado: {{vm.thisProject.estado}}</h3>
<p>{{vm.thisProject.descripcion}}</p>
<p>{{vm.thisProject.notas}}</p>


<div>
    <ul>
        <li ng-repeat="actividad in vm.thisProject.actividades"> 
             <span>{{actividad.fecha}}</span> -- <span>{{actividad.estimadas}}</span> -- <span>{{actividad.finalizadas}}</span>     
        </li>
    </ul>
</div>

<div>
    <div id="piechart" style="width: 900px; height: 500px;"></div> 
</div>

<table ng-table="vm.tableParams" class="table" show-filter="true">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Estimadas</th>
                <th>Finalizadas</th>
            </tr>
        </thead>
        <tr ng-repeat="actividad in vm.thisProject.actividades">
            <td title="'Fecha'" filter="{ fecha: 'text'}" sortable="'fecha'">
                {{actividad.fecha}}</td>
            <td title="'Estimadas'" filter="{ estimadas: 'number'}" sortable="'estimadas'">
                {{actividad.estimadas}}</td>
                <td title="'Estimadas'" filter="{ estimadas: 'number'}" sortable="'estimadas'">
                        {{actividad.finalizadas}}</td>
        </tr>
</table>