<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      <a class="navbar-brand" href="#">EgoProject</a>
      </div> 
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-md-4">
        <span><button class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button><input type="text" ng-model="searchAll" placeholder="Nombre"></span>
        <span><button ng-click="vm.fineSearch=true" class="btn btn-danger"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></button></span>

        <div ng-show="vm.fineSearch">  
            <button class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            <label>RFI</label>
            <input type="text" ng-model="searchRfi">
            <br>
            <button class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            <label>Descripcion</label>
            <input type="text" ng-model="searchDescripcion">
            <br>
            <button class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            <label>Estado del Proyecto</label>
            <input type="text" ng-model="searchEstado" placeholder="Estado"  class="form-control">
            <br>
            <button class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            <label>Notas</label>
            <input type="text" ng-model="searchNotas" placeholder="Notas"  class="form-control">
            <br>
            
        </div>


        <h3>All your Projects:</h3>
        <ul>
            <li ng-repeat="project in vm.projects | filter : searchAll | filter : searchEstado | filter : searchRfi | filter : searchDescripcion | filter : searchEstado | filter : searchNotas"> 
                <span><button ng-click="vm.goToThisProject(project)" class="btn btn-primary">{{project.nombre}}</button>  </span>
                <span><button ng-click="vm.getThisProject(project)" class="btn btn-primary"><span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span></button></span>
                <span><button ng-click="vm.graphicThisProject(project)" class="btn btn-primary"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></button></span>
                <!--<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>-->
                <span><button ng-click="vm.editThisProject(project)" class="btn btn-danger"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></span>
                <span><button ng-click="vm.deleteThisProject(project)" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></span>          
            </li>
        </ul>
        <button ng-click="vm.createProject()" class="btn btn-danger"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    </div>

  <div class="col-md-8">
    <div ng-show="vm.create">
        <label>Nombre</label>
        <input type="text" ng-model="vm.project.nombre" placeholder="Nombre del proyecto..."  class="form-control" style="padding: 10px;">
        <br>
        <!--<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
        <label>Descrición</label>
        <input type="text" ng-model="vm.project.descripcion" placeholder="Descripcion del proyecto..."  class="form-control" style="padding: 10px">
        <br>
        <label>RFI</label>
        <input type="number" ng-model="vm.project.rfi" placeholder="RFI"  class="form-control" style="padding: 10px;">
        <br>
        
                        
        <div class="form-group">
            <label for="SelectEstado">Estado del Proyecto</label>
            <select ng-model="vm.project.estado" class="form-control" id="SelectEstado">
              <option>Aprobado</option>
              <option>Pendiente</option>
              <option>Cancelado</option>
            </select>
          </div>
        <br>
        <label>Notas</label>
        <input type="text" ng-model="vm.project.notas" placeholder="Notas"  class="form-control" style="padding: 10px;">
        <hr>
        <button ng-click="vm.addActivities = true" class="btn btn-primary">Agregar Actividades</button>
        <br>
        <div ng-show="vm.addActivities">
            <label>Fecha</label> <!-- ng-model="vm.project.actividades[0].fecha" -->
            <input class="form-control" id="date" type="date" ng-model="vm.actividad.fecha" min="2017-10-11" max="2017-10-30">
            <br>
            <label>Estimadas</label>
            <input type="number"  placeholder="Estimadas" ng-model="vm.actividad.estimadas"  class="form-control" style="padding: 10px;">
            <br>
            <label>Finalizadas</label>
            <input type="number"  placeholder="Finalizadas" ng-model="vm.actividad.finalizadas"  class="form-control" style="padding: 10px;">
            <br>
            <button ng-click="vm.addActivity()" class="btn btn-primary">Otra Actividad</button>
        </div>
          
        <br>
        <button ng-click="vm.addProject()"  class="btn btn-primary">Agregar Proyecto</button>
    </div>


    <div ng-show="vm.edit">
        <label>Nombre</label>
        <input type="text" ng-model="vm.projectToEdit.nombre" placeholder="Nombre del proyecto..."  class="form-control" style="padding: 10px;">
        <hr>
        <label>Descrición</label>
        <input type="text" ng-model="vm.projectToEdit.descripcion" placeholder="Descripcion del proyecto..."  class="form-control" style="padding: 10px">
        <hr>
        <label>RFI</label>
        <input type="number" ng-model="vm.projectToEdit.rfi" placeholder="RFI"  class="form-control" style="padding: 10px;">
        <hr>
        <div class="form-group">
            <label for="SelectEstado">Estado del Proyecto</label>
            <select ng-model="vm.projectToEdit.estado" class="form-control" id="SelectEstado">
              <option>Aprobado</option>
              <option>Pendiente</option>
              <option>Cancelado</option>
            </select>
          </div>
        <br>
        <label>Notas</label>
        <input type="text" ng-model="vm.projectToEdit.notas" placeholder="Notas"  class="form-control" style="padding: 10px;">
        <hr>
          
        <br>
        <button ng-click="vm.saveChanges()"  class="btn btn-primary">Guardar Cambios</button>
    </div>


    
    <div ng-show="vm.get">
        <h3>{{vm.thisProject.nombre}}</h3>
        <h3>RFI: {{vm.thisProject.rfi}}</h3>
        <h3>Estado: {{vm.thisProject.estado}}</h3>
        <p>{{vm.thisProject.descripcion}}</p>
        <p>{{vm.thisProject.notas}}</p>
        <div>
            <ul>
                <li ng-repeat="actividad in vm.thisProject.actividades"> 
                     <span>{{actividad.fecha}}</span> -- <span>{{actividad.estimadas}}</span> -- <span>{{actividad.finalizadas}}</span>     
                </li>
            </ul>
        </div>
    </div>

    <p ng-show="vm.thisProject.actividades.length < 1 ">No hay Graficos para mostrar</p>
    <div ng-show="vm.chart">
        <div id="chart" style="width: 900px; height: 500px;"></div>
        <div>
            <table ng-table="vm.tableParams" class="table" show-filter="true">
                  <thead>
                      <tr>
                          <th>Fecha</th>
                          <th>Estimadas</th>
                          <th>Finalizadas</th>
                      </tr>
                  </thead>
                  <tr ng-repeat="actividad in vm.thisProject.actividades">
                      <td title="'Fecha'" filter="{ fecha: 'text'}" sortable="'fecha'">
                          {{actividad.fecha}}</td>
                      <td title="'Estimadas'" filter="{ estimadas: 'number'}" sortable="'estimadas'">
                          {{actividad.estimadas}}</td>
                      <td title="'Estimadas'" filter="{ estimadas: 'number'}" sortable="'estimadas'">
                          {{actividad.finalizadas}}</td>
                  </tr>
           </table>
          </div> 
    </div>

    
      
  </div>
  
  
</div>
