body ul{
    list-style-type: none;
}
body a{
    cursor: pointer;
}
body a:hover{
    text-decoration: none;
    color: #e4ac43;
}
.selected{
   color: #db9a21;
}
#createProject{
    float: right;
}
#projectOptionsIcons{
    float: right;
}